In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait

import pandas as pd
import time

In [2]:
driver = webdriver.Chrome()

driver.get('https://www.dol.gov/whd/state/stateMinWageHis.htm')

In [3]:
Ultimate_Loop = driver.find_elements_by_tag_name('table')[2].find_elements_by_tag_name('tr')

<strong> Now it's time to pull out the first table 2000 - 2006 <strong>

In [4]:
#Here I pull out the States
Count = 0
for states in Ultimate_Loop[1:]:
    print(states.find_elements_by_tag_name('td')[0].text)
    Count = Count + 1
Count

Federal (FLSA)
Alabama
Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West Virginia
Wisconsin
Wyoming
District of Columbia
Guam
Puerto Rico
U.S. Virgin Islands

55

<i> Here's me pulling out minimum wages from 2000 <\i>

In [5]:
#Here I pull out the minimum wages for 2000

Count = 0
for wage_2000 in Ultimate_Loop[1:]:
    print(wage_2000.find_elements_by_tag_name('td')[1].text)
    Count = Count + 1
Count

$5.15
...
5.65
...
5.15[c]
5.75
5.15
6.15
5.65
...
3.25(d)
5.25
5.15
5.15[c]
5.15(e)
5.15
2.65
5.15
...
5.15
5.15
6.00
5.15(e)
4.90 - 5.15(g)
...
5.15
4.00 - 5.15(g)
5.15[c]
5.15
5.15
5.15
4.25
4.25
5.15
5.15
2.80 - 4.25(g)
2.00 - 5.15(g)
6.50
5.15
5.65
...
5.15
...
3.35
5.15
5.75(e)
5.15[c]
6.50
5.15(d)
5.15
1.60
6.15
5.15
3.61 - 5.15(i)
4.30 - 4.65(g,j)

55

<i> Here's me pulling out data for 2001 <i>

In [6]:
Count = 0
for wage_2001 in Ultimate_Loop[1:]:
    print(wage_2001.find_elements_by_tag_name('td')[2].text)
    Count = Count + 1
Count

$5.15
...
5.65
...
5.15[c]
6.25
5.15
6.40
6.15
...
3.25(d)
5.25
5.15
5.15[c]
5.15(e)
5.15
2.65
5.15
...
5.15
5.15
6.75
5.15(e)
4.90 - 5.15(g)
...
5.15
4.00 - 5.15(g)
5.15[c]
5.15
5.15
5.15
4.25
5.15
5.15
5.15
2.80 - 4.25(g)
2.00 - 5.15(g)
6.50
5.15
6.15
...
5.15
...
3.35
5.15
6.25(e)
5.15[c]
6.72
5.15(d)
5.15
1.60
6.15
5.15
3.61 - 5.15(i)
4.30 - 4.65(g,j)

55

<i> Here's me pulling out data for 2002 <i>

In [7]:
Count = 0
for wage_2002 in Ultimate_Loop[1:]:
    print(wage_2002.find_elements_by_tag_name('td')[3].text)
    Count = Count + 1
Count

$5.15
...
5.65
...
5.15[c]
6.75
5.15
6.70
6.15
...
5.15(d)
5.75
5.15
5.15[c]
5.15(e)
5.15
2.65
5.15
...
5.75
5.15
6.75
5.15(e)
4.90 - 5.15(g)
...
5.15
4.00 - 5.15(g)
5.15[c]
5.15
5.15
5.15
4.25
5.15
5.15
5.15
2.80 - 4.25(g)
2.00 - 5.15(g)
6.50
5.15
6.15
...
5.15
...
5.15
5.15
6.25(e)
5.15[c]
6.90
5.15(d)
5.15
5.15
6.15
5.15
3.61 - 5.15(i)
4.30 - 4.65(g,j)

55

<i> Here's me pulling out data for 2003 <i>

In [8]:
Count = 0
for wage_2003 in Ultimate_Loop[1:]:
    print(wage_2003.find_elements_by_tag_name('td')[4].text)
    Count = Count + 1
Count

$5.15
...
7.15
...
5.15[c]
6.75
5.15
6.90
6.15
...
5.15(d)
6.25
5.15
5.15[c]
5.15(e)
5.15
2.65
5.15
...
6.25
5.15
6.75
5.15(e)
4.90 - 5.15(g)
...
5.15
4.00 - 5.15(g)
5.15[c]
5.15
5.15
5.15
4.25
5.15
5.15
5.15
2.80 - 4.25(g)
2.00 - 5.15(g)
6.90
5.15
6.15
...
5.15
...
5.15
5.15
6.25(e)
5.15[c]
7.01
5.15(d)
5.15
5.15
6.15
5.15
3.61 - 5.15(i)
4.30 - 4.65(g,j)

55

<i> Here's me pulling out data for 2004 <i>

In [9]:
Count = 0
for wage_2004 in Ultimate_Loop[1:]:
    print(wage_2004.find_elements_by_tag_name('td')[5].text)
    Count = Count + 1
Count

$5.15
...
7.15
...
5.15[c]
6.75
5.15
7.10
6.15
...
5.15(d)
6.25
5.15
5.50[c]
5.15(e)
5.15
2.65
5.15
...
6.25
5.15
6.75
5.15(e)
4.90 - 5.15(g)
...
5.15
4.00 - 5.15(g)
5.15[c]
5.15
5.15
5.15
5.15
5.15
5.15
5.15
2.80 - 4.25(g)
2.00 - 5.15(g)
7.05
5.15
6.75
...
5.15
...
5.15
5.15
6.75(e)
5.15[c]
7.16
5.15(d)
5.15
5.15
6.15
5.15
3.61 - 5.15(i)
4.30 - 4.65(g,j)

55

<i> Here's me pulling data for 2005 <i>

In [10]:
Count = 0
for wage_2005 in Ultimate_Loop[1:]:
    print(wage_2005.find_elements_by_tag_name('td')[6].text)
    Count = Count + 1
Count

$5.15
...
7.15
...
5.15[c]
6.75
5.15
7.10
6.15
...
5.15(d)
6.25
5.15
6.50[c]
5.15(e)
5.15
2.65
5.15
...
6.35
5.15
6.75
5.15(e)
4.90 - 5.15(g)
...
5.15
4.00 - 5.15(g)
5.15[c]
5.15
5.15
5.15
5.15
6.00
5.15
5.15
2.80 - 4.25(g)
2.00 - 5.15(g)
7.25
5.15
6.75
...
5.15
...
5.15
5.15
7.00(e)
5.15[c]
7.35
5.15(d)
5.15
5.15
6.60
5.15
3.61 - 5.15(i)
4.30 - 4.65(g,j)

55

<i> Here's me pulling data for 2006 <i>

In [11]:
Count = 0
for wage_2006 in Ultimate_Loop[1:]:
    print(wage_2006.find_elements_by_tag_name('td')[6].text)
    Count = Count + 1
Count

$5.15
...
7.15
...
5.15[c]
6.75
5.15
7.10
6.15
...
5.15(d)
6.25
5.15
6.50[c]
5.15(e)
5.15
2.65
5.15
...
6.35
5.15
6.75
5.15(e)
4.90 - 5.15(g)
...
5.15
4.00 - 5.15(g)
5.15[c]
5.15
5.15
5.15
5.15
6.00
5.15
5.15
2.80 - 4.25(g)
2.00 - 5.15(g)
7.25
5.15
6.75
...
5.15
...
5.15
5.15
7.00(e)
5.15[c]
7.35
5.15(d)
5.15
5.15
6.60
5.15
3.61 - 5.15(i)
4.30 - 4.65(g,j)

55

<strong> Ultimate_Loop2 Great! Onwards to the next table to scrape 2007 - 2013 <strong>

In [12]:
Ultimate_Loop2 = driver.find_elements_by_tag_name('table')[3].find_elements_by_tag_name('tr')

In [13]:
# Count = 0
# for states in Ultimate_Loop2[1:]:
#     print(states.find_elements_by_tag_name('td')[0].text)
#     Count = Count + 1
# Count

<i> time to pull out 2007 <i>

In [14]:
Count = 0
for wage_2007 in Ultimate_Loop2[1:]:
    print(wage_2007.find_elements_by_tag_name('td')[1].text)
    Count = Count + 1
Count

5.15
...
7.15
6.75
6.25[c]
7.50
6.85
7.65
6.65
6.67
5.15(d)
7.25
5.15
6.50[c]
5.15(e)
5.15
2.65
5.15
...
6.75
6.15
7.50
6.95(e)
5.25-6.15(g)
...
6.50
4.00-6.15(g)
5.15[c]
6.15
5.15
7.15
5.15
7.15
6.15
5.15
6.85
2.00-5.15(g)
7.80
6.25
7.40
...
5.15
...
5.15
5.15
7.53(e)
5.15[c]
7.93
5.85
6.50
5.15
7.00
5.15
3.61-5.15(i)
4.30-6.15(g,j)

55

<i> time to pull out 2008 <i>

In [15]:
Count = 0
for wage_2008 in Ultimate_Loop2[1:]:
    print(wage_2008.find_elements_by_tag_name('td')[2].text)
    Count = Count + 1
Count

5.85
...
7.15
6.90
 6.25[c]
8.00
7.02
7.65
7.15
6.79
5.15(d)
7.25
5.85
7.50[c]
5.85(e)
7.25
2.65
5.85
...
7.00
6.15
8.00
7.15(e)
5.25-6.15(g)
...
6.65
4.00-6.25(g)
5.85[c]
6.33
6.50
7.15
6.50
7.15
6.15
5.85
7.00
2.00-5.85(g)
7.95
7.15
7.40
...
5.85
...
5.85
5.85
7.68(e)
5.85[c]
8.07
6.55
6.50
5.15
7.00
5.85
3.61-5.15(i)
4.30-6.15(j)

55

<i> time to pull out 2009 <i>

In [16]:
Count = 0
for wage_2009 in Ultimate_Loop2[1:]:
    print(wage_2009.find_elements_by_tag_name('td')[3].text)
    Count = Count + 1
Count

6.55
...
7.15
7.25
 6.25[c]
8.00
7.28
8.00
7.15
7.21
5.15(d)
7.25
6.55
7.75[c]
6.55(e)
7.25
2.65
6.55
...
7.25
6.55
8.00
7.40(e)
5.25-6.15(g)
...
7.05
4.00-6.90(g)
6.55[c]
6.55-6.85
7.25
7.15
7.50
7.15
6.55
6.55
7.30
2.00-6.55(g)
8.40
7.15
7.40
...
6.55
...
6.55
6.55
8.06(e)
6.55[c]
8.55
7.25
6.50
5.15
7.55
5.85
4.10(i)
4.30-6.15(j)

55

<i> time to pull out 2010 <i>

In [17]:
Count = 0
for wage_2010 in Ultimate_Loop2[1:]:
    print(wage_2010.find_elements_by_tag_name('td')[4].text)
    Count = Count + 1
Count

7.25
...
7.75
7.25
6.25[c]
8.00
7.24
8.25
7.25
7.25
5.15(d)
7.25
7.25
8.00[c]
7.25(e)
7.25
7.25
7.25
...
7.50
7.25
8.00
7.40(e)
5.25-6.15(g)
...
7.25
4.00-7.25(g)
7.25[c]
6.55-7.55
7.25
7.25
7.50
7.25
7.25
7.25
7.30
2.00-7.25(g)
8.40
7.25
7.40
...
7.25
...
7.25
7.25
8.06(e)
7.25[c]
8.55
7.25
7.25
5.15
8.25
7.25
5.08 – 7.25 (i2)
4.30-7.25(j)

55

<i> time to pull out 2011 <i>

In [18]:
Count = 0
for wage_2011 in Ultimate_Loop2[1:]:
    print(wage_2011.find_elements_by_tag_name('td')[5].text)
    Count = Count + 1
Count

7.25
...
7.75
7.35
6.25[c]
8.00
7.36
8.25
7.25
7.25
5.15(d)
7.25
7.25
8.25[c]
7.25(e)
7.25
7.25
7.25
...
7.50
7.25
8.00
7.40(e)
5.25-6.15(g)
...
7.25
4.00-7.35(g)
7.25[c]
7.25-8.25
7.25
7.25
7.50
7.25
7.25
7.25
7.40
2.00-7.25(g)
8.50
7.25
7.40
...
7.25
...
7.25
7.25
8.15(e)
7.25[c]
8.67
7.25
7.25
5.15
8.25
7.25
5.08 – 7.25 (i2)
4.30-7.25(j)

55

<i> time to pull out 2012 <i>

In [19]:
Count = 0
for wage_2012 in Ultimate_Loop2[1:]:
    print(wage_2012.find_elements_by_tag_name('td')[6].text)
    Count = Count + 1
Count

7.25
...
7.75
7.65
6.25[c]
8.00
7.64
8.25
7.25
7.67
5.15(d)
7.25
7.25
8.25[c]
7.25(e)
7.25
7.25
7.25
...
7.50
7.25
8.00
7.40(e)
5.25-6.15(g)
...
7.25
4.00-7.65(g)
7.25[c]
7.25-8.25
7.25
7.25
7.50
7.25
7.25
7.25
7.70
2.00-7.25(g)
8.80
7.25
7.40
...
7.25
...
7.25
7.25
8.46(e)
7.25[c]
9.04
7.25
7.25
5.15
8.25
7.25
5.08 – 7.25 (i2)
4.30-7.25(j)

55

<i> time to pull out 2013 <i>

In [20]:
Count = 0
for wage_2013 in Ultimate_Loop2[1:]:
    print(wage_2013.find_elements_by_tag_name('td')[7].text)
    Count = Count + 1
Count

7.25
...
7.75
7.80
6.25[c]
8.00
7.78
8.25
7.25
7.79
5.15(d)
7.25
7.25
8.25[c]
7.25(e)
7.25
7.25
7.25
...
7.50
7.25
8.00
7.40(e)
5.25-6.15(g)
...
7.35
4.00-7.80(g)
7.25[c]
7.25-8.25
7.25
7.25
7.50
7.25
7.25
7.25
7.85
2.00-7.25(g)
8.95
7.25
7.75
...
7.25
...
7.25
7.25
8.60(e)
7.25[c]
9.19
7.25
7.25
5.15
8.25
7.25
5.08 – 7.25 (i2)
4.30-7.25(j)

55

<strong> Alright now I'm going to make another ultimate loop 2014 - 2017 <strong>

In [21]:
Ultimate_Loop3 = driver.find_elements_by_tag_name('table')[4].find_elements_by_tag_name('tr')

<i> Now it's time to scrape 2014 <i>

In [22]:
Count = 0
for wage_2014 in Ultimate_Loop3[1:]:
    print(wage_2014.find_elements_by_tag_name('td')[1].text)
    Count = Count + 1
Count

7.25
...
7.75
7.90
6.25[c]
9.00
8.00
8.70
7.75
7.93
5.15(d)
7.25
7.25
8.25[c]
7.25(e)
7.25
7.25
7.25
...
7.50
7.25
8.00
8.15(e)
6.50-8.00(g)
...
7.50
7.90(g)
7.25[c]
7.25-8.25
7.25
8.25
7.50
8.00
7.25
7.25
7.25-7.95
2.00-7.25(g)
9.10
7.25
8.00
...
7.25
...
7.25
7.25
8.73(e)
7.25[c]
9.32
7.25
7.25
5.15
9.50
7.25
5.08-7.25(i)
4.30-7.25(j)

56

<i> Now it's time to scrape 2015 <i>

In [23]:
Count = 0
for wage_2015 in Ultimate_Loop3[1:]:
    print(wage_2015.find_elements_by_tag_name('td')[2].text)
    Count = Count + 1
Count

7.25
...
8.75
8.05
7.50[c]
9.00
8.23
9.15
8.25
8.05
5.15(d)
7.75
7.25
8.25[c]
7.25(e)
7.25
7.25
7.25
...
7.50
8.25
9.00
8.15(e)
7.25-9.00(g)
...
7.65
8.05(g)
8.00[c]
7.25-8.25
7.25
8.38
7.50
8.75
7.25
7.25
7.25-8.10
2.00-7.25(g)
9.25
7.25
9.00
...
8.50
...
7.25
7.25
9.15(e)
7.25[c]
9.47
8.00
7.25
5.15
10.50
8.25
5.08-7.25(i)
4.30-7.25(j)

56

<i> Now it's time to scrape 2016 <i>

In [24]:
Count = 0
for wage_2016 in Ultimate_Loop3[1:]:
    print(wage_2016.find_elements_by_tag_name('td')[3].text)
    Count = Count + 1
Count

7.25
...
9.75
8.05
8.00[c]
10.00
8.31
9.60
8.25
8.05
5.15(d)
8.50
7.25
8.25[c]
7.25(e)
7.25
7.25
7.25
...
7.50
8.75
10.00
8.50(e)
7.25-9.50(g)
...
7.65
8.05(g)
9.00[c]
7.25-8.25
7.25
8.38
7.50
9.00
7.25
7.25
7.25-8.10
2.00-7.25(g)
9.75
7.25
9.60
...
8.55
...
7.25
7.25
9.60(e)
7.25[c]
9.47
8.75
7.25
5.15
11.50
8.25
5.08-7.25(i)
4.30-7.25(j)

56

<h1> Can I put this all into one dictionary?<h1>

###Here's what I'm doing here: I'm gonna make a dictionary with a Key for my States. Then within each state will be another key for my years and in that we shall have our minimum wage data###

In [45]:


Ultimate_Loop = driver.find_elements_by_tag_name('table')[2].find_elements_by_tag_name('tr')
Ultimate_Loop2 = driver.find_elements_by_tag_name('table')[3].find_elements_by_tag_name('tr')
Ultimate_Loop3 = driver.find_elements_by_tag_name('table')[4].find_elements_by_tag_name('tr')

#The easiest way to get this data presentable is by making a dictionary in a dictionary. So I'm skipping making the list
row = {}


#This loop is for data from 2000 to 2006

for iterables in Ultimate_Loop[1:]:

    
    states = iterables.find_elements_by_tag_name('td')[0].text
    row[states] = {}
#Over here I'm specifying that the dictionary row has a key 'states' which is currently an empty dictionary 
#The following steps will populate this dictionary within a dictionary and for whatever reason I dont have to keep making this dictionary in my other loops
    
    Wage2000 = iterables.find_elements_by_tag_name('td')[1].text
    row[states]['2000'] = Wage2000
    
    Wage2001 = iterables.find_elements_by_tag_name('td')[2].text
    row[states]['2001'] = Wage2001
    
    Wage2002 = iterables.find_elements_by_tag_name('td')[3].text
    row[states]['2002'] = Wage2002
    
    Wage2003 = iterables.find_elements_by_tag_name('td')[4].text
    row[states]['2003'] = Wage2003
    
    Wage2004 = iterables.find_elements_by_tag_name('td')[5].text
    row[states]['2004'] = Wage2004
    
    Wage2005 = iterables.find_elements_by_tag_name('td')[6].text
    row[states]['2005'] = Wage2005
    
    Wage2006 = iterables.find_elements_by_tag_name('td')[7].text
    row[states]['2006'] = Wage2006
    
    
    
#This loop is for data from 2007 to 2013    
    
for iterables in Ultimate_Loop2[1:]:
    
    states = iterables.find_elements_by_tag_name('td')[0].text

    
    Wage2007 = iterables.find_elements_by_tag_name('td')[1].text
    row[states]['2007'] = Wage2007
    
    Wage2008 = iterables.find_elements_by_tag_name('td')[2].text
    row[states]['2008'] = Wage2008
    
    Wage2009 = iterables.find_elements_by_tag_name('td')[3].text
    row[states]['2009'] = Wage2009
    
    Wage2010 = iterables.find_elements_by_tag_name('td')[4].text
    row[states]['2010'] = Wage2010
    
    Wage2011 = iterables.find_elements_by_tag_name('td')[5].text
    row[states]['2011'] = Wage2011
    
    Wage2012 = iterables.find_elements_by_tag_name('td')[6].text
    row[states]['2012'] = Wage2012
    
    Wage2013 = iterables.find_elements_by_tag_name('td')[7].text
    row[states]['2013'] = Wage2013
    

    
    

#This loop is for data from 2014 to 2016
    
    
for iterables in Ultimate_Loop3[1:-2]:
    
    states = iterables.find_elements_by_tag_name('td')[0].text
    print(states)
    
    Wage2014 = iterables.find_elements_by_tag_name('td')[1].text
    row[states]['2014'] = Wage2014
    print(row[states]['2014'])
    
    Wage2015 = iterables.find_elements_by_tag_name('td')[2].text
    row[states]['2015'] = Wage2015
    
    Wage2016 = iterables.find_elements_by_tag_name('td')[3].text
    row[states]['2016'] = Wage2016
    

    
    
    
# Minimum_Wage_Data

Federal (FLSA)
7.25
Alabama
...
Alaska
7.75
Arizona
7.90
Arkansas
6.25[c]
California
9.00
Colorado
8.00
Connecticut
8.70
Delaware
7.75
Florida
7.93
Georgia
5.15(d)
Hawaii
7.25
Idaho
7.25
Illinois
8.25[c]
Indiana
7.25(e)
Iowa
7.25
Kansas
7.25
Kentucky
7.25
Louisiana
...
Maine
7.50
Maryland
7.25
Massachusetts
8.00
Michigan
8.15(e)
Minnesota
6.50-8.00(g)
Mississippi
...
Missouri
7.50
Montana
7.90(g)
Nebraska
7.25[c]
Nevada
7.25-8.25
New Hampshire
7.25
New Jersey
8.25
New Mexico
7.50
New York
8.00
North Carolina
7.25
North Dakota
7.25
Ohio
7.25-7.95
Oklahoma
2.00-7.25(g)
Oregon
9.10
Pennsylvania
7.25
Rhode Island
8.00
South Carolina
...
South Dakota
7.25
Tennessee
...
Texas
7.25
Utah
7.25
Vermont
8.73(e)
Virginia
7.25[c]
Washington
9.32
West Virginia
7.25
Wisconsin
7.25
Wyoming
5.15
District of Columbia
9.50
Guam
7.25
Puerto Rico
5.08-7.25(i)

In [47]:
row

{'Federal (FLSA)': {'2000': '$5.15',
  '2001': '$5.15',
  '2002': '$5.15',
  '2003': '$5.15',
  '2004': '$5.15',
  '2005': '$5.15',
  '2006': '5.15',
  '2007': '5.15',
  '2008': '5.85',
  '2009': '6.55',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.25',
  '2016': '7.25'},
 'Alabama': {'2000': '...',
  '2001': '...',
  '2002': '...',
  '2003': '...',
  '2004': '...',
  '2005': '...',
  '2006': '...',
  '2007': '...',
  '2008': '...',
  '2009': '...',
  '2010': '...',
  '2011': '...',
  '2012': '...',
  '2013': '...',
  '2014': '...',
  '2015': '...',
  '2016': '...'},
 'Alaska': {'2000': '5.65',
  '2001': '5.65',
  '2002': '5.65',
  '2003': '7.15',
  '2004': '7.15',
  '2005': '7.15',
  '2006': '7.15',
  '2007': '7.15',
  '2008': '7.15',
  '2009': '7.15',
  '2010': '7.75',
  '2011': '7.75',
  '2012': '7.75',
  '2013': '7.75',
  '2014': '7.75',
  '2015': '8.75',
  '2016': '9.75'},
 'Arizona': {'2000': '...',
  '2001': '...',
  '2002': '...',
  '2003': '...',
  '2004': '...',
  '2005': '...',
  '2006': '...',
  '2007': '6.75',
  '2008': '6.90',
  '2009': '7.25',
  '2010': '7.25',
  '2011': '7.35',
  '2012': '7.65',
  '2013': '7.80',
  '2014': '7.90',
  '2015': '8.05',
  '2016': '8.05'},
 'Arkansas': {'2000': '5.15[c]',
  '2001': '5.15[c]',
  '2002': '5.15[c]',
  '2003': '5.15[c]',
  '2004': '5.15[c]',
  '2005': '5.15[c]',
  '2006': '5.15 [c]',
  '2007': '6.25[c]',
  '2008': ' 6.25[c] ',
  '2009': ' 6.25[c] ',
  '2010': '6.25[c]',
  '2011': '6.25[c]',
  '2012': '6.25[c]',
  '2013': '6.25[c]',
  '2014': '6.25[c]',
  '2015': '7.50[c]',
  '2016': '8.00[c]'},
 'California': {'2000': '5.75',
  '2001': '6.25',
  '2002': '6.75',
  '2003': '6.75',
  '2004': '6.75',
  '2005': '6.75',
  '2006': '6.75',
  '2007': '7.50',
  '2008': '8.00',
  '2009': '8.00',
  '2010': '8.00',
  '2011': '8.00',
  '2012': '8.00',
  '2013': '8.00',
  '2014': '9.00',
  '2015': '9.00',
  '2016': '10.00'},
 'Colorado': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '6.85',
  '2008': '7.02',
  '2009': '7.28',
  '2010': '7.24',
  '2011': '7.36',
  '2012': '7.64',
  '2013': '7.78',
  '2014': '8.00',
  '2015': '8.23',
  '2016': '8.31'},
 'Connecticut': {'2000': '6.15',
  '2001': '6.40',
  '2002': '6.70',
  '2003': '6.90',
  '2004': '7.10',
  '2005': '7.10',
  '2006': '7.40',
  '2007': '7.65',
  '2008': '7.65',
  '2009': '8.00',
  '2010': '8.25',
  '2011': '8.25',
  '2012': '8.25',
  '2013': '8.25',
  '2014': '8.70',
  '2015': '9.15',
  '2016': '9.60'},
 'Delaware': {'2000': '5.65',
  '2001': '6.15',
  '2002': '6.15',
  '2003': '6.15',
  '2004': '6.15',
  '2005': '6.15',
  '2006': '6.15',
  '2007': '6.65',
  '2008': '7.15',
  '2009': '7.15',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.75',
  '2015': '8.25',
  '2016': '8.25'},
 'Florida': {'2000': '...',
  '2001': '...',
  '2002': '...',
  '2003': '...',
  '2004': '...',
  '2005': '...',
  '2006': '6.40',
  '2007': '6.67',
  '2008': '6.79',
  '2009': '7.21',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.67',
  '2013': '7.79',
  '2014': '7.93',
  '2015': '8.05',
  '2016': '8.05'},
 'Georgia': {'2000': '3.25(d)',
  '2001': '3.25(d)',
  '2002': '5.15(d)',
  '2003': '5.15(d)',
  '2004': '5.15(d)',
  '2005': '5.15(d)',
  '2006': '5.15(d)',
  '2007': '5.15(d)',
  '2008': '5.15(d)',
  '2009': '5.15(d)',
  '2010': '5.15(d)',
  '2011': '5.15(d)',
  '2012': '5.15(d)',
  '2013': '5.15(d)',
  '2014': '5.15(d)',
  '2015': '5.15(d)',
  '2016': '5.15(d)'},
 'Hawaii': {'2000': '5.25',
  '2001': '5.25',
  '2002': '5.75',
  '2003': '6.25',
  '2004': '6.25',
  '2005': '6.25',
  '2006': '6.75',
  '2007': '7.25',
  '2008': '7.25',
  '2009': '7.25',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.75',
  '2016': '8.50'},
 'Idaho': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '5.15',
  '2008': '5.85',
  '2009': '6.55',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.25',
  '2016': '7.25'},
 'Illinois': {'2000': '5.15[c]',
  '2001': '5.15[c]',
  '2002': '5.15[c]',
  '2003': '5.15[c]',
  '2004': '5.50[c]',
  '2005': '6.50[c]',
  '2006': '6.50[c]',
  '2007': '6.50[c]',
  '2008': '7.50[c]',
  '2009': '7.75[c]',
  '2010': '8.00[c]',
  '2011': '8.25[c]',
  '2012': '8.25[c]',
  '2013': '8.25[c]',
  '2014': '8.25[c]',
  '2015': '8.25[c]',
  '2016': '8.25[c]'},
 'Indiana': {'2000': '5.15(e)',
  '2001': '5.15(e)',
  '2002': '5.15(e)',
  '2003': '5.15(e)',
  '2004': '5.15(e)',
  '2005': '5.15(e)',
  '2006': '5.15(e)',
  '2007': '5.15(e)',
  '2008': '5.85(e)',
  '2009': '6.55(e)',
  '2010': '7.25(e)',
  '2011': '7.25(e)',
  '2012': '7.25(e)',
  '2013': '7.25(e)',
  '2014': '7.25(e)',
  '2015': '7.25(e)',
  '2016': '7.25(e)'},
 'Iowa': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '5.15',
  '2008': '7.25',
  '2009': '7.25',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.25',
  '2016': '7.25'},
 'Kansas': {'2000': '2.65',
  '2001': '2.65',
  '2002': '2.65',
  '2003': '2.65',
  '2004': '2.65',
  '2005': '2.65',
  '2006': '2.65',
  '2007': '2.65',
  '2008': '2.65',
  '2009': '2.65',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.25',
  '2016': '7.25'},
 'Kentucky': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '5.15',
  '2008': '5.85',
  '2009': '6.55',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.25',
  '2016': '7.25'},
 'Louisiana': {'2000': '...',
  '2001': '...',
  '2002': '...',
  '2003': '...',
  '2004': '...',
  '2005': '...',
  '2006': '...',
  '2007': '...',
  '2008': '...',
  '2009': '...',
  '2010': '...',
  '2011': '...',
  '2012': '...',
  '2013': '...',
  '2014': '...',
  '2015': '...',
  '2016': '...'},
 'Maine': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.75',
  '2003': '6.25',
  '2004': '6.25',
  '2005': '6.35',
  '2006': '6.50',
  '2007': '6.75',
  '2008': '7.00',
  '2009': '7.25',
  '2010': '7.50',
  '2011': '7.50',
  '2012': '7.50',
  '2013': '7.50',
  '2014': '7.50',
  '2015': '7.50',
  '2016': '7.50'},
 'Maryland': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '6.15',
  '2008': '6.15',
  '2009': '6.55',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '8.25',
  '2016': '8.75'},
 'Massachusetts': {'2000': '6.00',
  '2001': '6.75',
  '2002': '6.75',
  '2003': '6.75',
  '2004': '6.75',
  '2005': '6.75',
  '2006': '6.75',
  '2007': '7.50',
  '2008': '8.00',
  '2009': '8.00',
  '2010': '8.00',
  '2011': '8.00',
  '2012': '8.00',
  '2013': '8.00',
  '2014': '8.00',
  '2015': '9.00',
  '2016': '10.00'},
 'Michigan': {'2000': '5.15(e)',
  '2001': '5.15(e)',
  '2002': '5.15(e)',
  '2003': '5.15(e)',
  '2004': '5.15(e)',
  '2005': '5.15(e)',
  '2006': '5.15(e)',
  '2007': '6.95(e)',
  '2008': '7.15(e)',
  '2009': '7.40(e)',
  '2010': '7.40(e)',
  '2011': '7.40(e)',
  '2012': '7.40(e)',
  '2013': '7.40(e)',
  '2014': '8.15(e)',
  '2015': '8.15(e)',
  '2016': '8.50(e)'},
 'Minnesota': {'2000': '4.90 - 5.15(g)',
  '2001': '4.90 - 5.15(g)',
  '2002': '4.90 - 5.15(g)',
  '2003': '4.90 - 5.15(g)',
  '2004': '4.90 - 5.15(g)',
  '2005': '4.90 - 5.15(g)',
  '2006': '5.25 - 6.15(g)',
  '2007': '5.25-6.15(g)',
  '2008': '5.25-6.15(g)',
  '2009': '5.25-6.15(g)',
  '2010': '5.25-6.15(g)',
  '2011': '5.25-6.15(g)',
  '2012': '5.25-6.15(g)',
  '2013': '5.25-6.15(g)',
  '2014': '6.50-8.00(g)',
  '2015': '7.25-9.00(g)',
  '2016': '7.25-9.50(g)'},
 'Mississippi': {'2000': '...',
  '2001': '...',
  '2002': '...',
  '2003': '...',
  '2004': '...',
  '2005': '...',
  '2006': '...',
  '2007': '...',
  '2008': '...',
  '2009': '...',
  '2010': '...',
  '2011': '...',
  '2012': '...',
  '2013': '...',
  '2014': '...',
  '2015': '...',
  '2016': '...'},
 'Missouri': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '6.50',
  '2008': '6.65',
  '2009': '7.05',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.35',
  '2014': '7.50',
  '2015': '7.65',
  '2016': '7.65'},
 'Montana': {'2000': '4.00 - 5.15(g)',
  '2001': '4.00 - 5.15(g)',
  '2002': '4.00 - 5.15(g)',
  '2003': '4.00 - 5.15(g)',
  '2004': '4.00 - 5.15(g)',
  '2005': '4.00 - 5.15(g)',
  '2006': '4.00 - 5.15',
  '2007': '4.00-6.15(g)',
  '2008': '4.00-6.25(g)',
  '2009': '4.00-6.90(g)',
  '2010': '4.00-7.25(g)',
  '2011': '4.00-7.35(g)',
  '2012': '4.00-7.65(g)',
  '2013': '4.00-7.80(g)',
  '2014': '7.90(g)',
  '2015': '8.05(g)',
  '2016': '8.05(g)'},
 'Nebraska': {'2000': '5.15[c]',
  '2001': '5.15[c]',
  '2002': '5.15[c]',
  '2003': '5.15[c]',
  '2004': '5.15[c]',
  '2005': '5.15[c]',
  '2006': '5.15[c]',
  '2007': '5.15[c]',
  '2008': '5.85[c]',
  '2009': '6.55[c]',
  '2010': '7.25[c]',
  '2011': '7.25[c]',
  '2012': '7.25[c]',
  '2013': '7.25[c]',
  '2014': '7.25[c]',
  '2015': '8.00[c]',
  '2016': '9.00[c]'},
 'Nevada': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '6.15',
  '2008': '6.33',
  '2009': '6.55-6.85',
  '2010': '6.55-7.55',
  '2011': '7.25-8.25',
  '2012': '7.25-8.25',
  '2013': '7.25-8.25',
  '2014': '7.25-8.25',
  '2015': '7.25-8.25',
  '2016': '7.25-8.25'},
 'New Hampshire': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '5.15',
  '2008': '6.50',
  '2009': '7.25',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.25',
  '2016': '7.25'},
 'New Jersey': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '6.15',
  '2007': '7.15',
  '2008': '7.15',
  '2009': '7.15',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '8.25',
  '2015': '8.38',
  '2016': '8.38'},
 'New Mexico': {'2000': '4.25',
  '2001': '4.25',
  '2002': '4.25',
  '2003': '4.25',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '5.15',
  '2008': '6.50',
  '2009': '7.50',
  '2010': '7.50',
  '2011': '7.50',
  '2012': '7.50',
  '2013': '7.50',
  '2014': '7.50',
  '2015': '7.50',
  '2016': '7.50'},
 'New York': {'2000': '4.25',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '6.00',
  '2006': '6.75',
  '2007': '7.15',
  '2008': '7.15',
  '2009': '7.15',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '8.00',
  '2015': '8.75',
  '2016': '9.00'},
 'North Carolina': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '6.15',
  '2008': '6.15',
  '2009': '6.55',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.25',
  '2016': '7.25'},
 'North Dakota': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '5.15',
  '2008': '5.85',
  '2009': '6.55',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.25',
  '2016': '7.25'},
 'Ohio': {'2000': '2.80 - 4.25(g)',
  '2001': '2.80 - 4.25(g)',
  '2002': '2.80 - 4.25(g)',
  '2003': '2.80 - 4.25(g)',
  '2004': '2.80 - 4.25(g)',
  '2005': '2.80 - 4.25(g)',
  '2006': '2.80 - 4.25(g)',
  '2007': '6.85',
  '2008': '7.00',
  '2009': '7.30',
  '2010': '7.30',
  '2011': '7.40',
  '2012': '7.70',
  '2013': '7.85',
  '2014': '7.25-7.95',
  '2015': '7.25-8.10',
  '2016': '7.25-8.10'},
 'Oklahoma': {'2000': '2.00 - 5.15(g)',
  '2001': '2.00 - 5.15(g)',
  '2002': '2.00 - 5.15(g)',
  '2003': '2.00 - 5.15(g)',
  '2004': '2.00 - 5.15(g)',
  '2005': '2.00 - 5.15(g)',
  '2006': '2.00 - 5.15',
  '2007': '2.00-5.15(g)',
  '2008': '2.00-5.85(g)',
  '2009': '2.00-6.55(g)',
  '2010': '2.00-7.25(g)',
  '2011': '2.00-7.25(g)',
  '2012': '2.00-7.25(g)',
  '2013': '2.00-7.25(g)',
  '2014': '2.00-7.25(g)',
  '2015': '2.00-7.25(g)',
  '2016': '2.00-7.25(g)'},
 'Oregon': {'2000': '6.50',
  '2001': '6.50',
  '2002': '6.50',
  '2003': '6.90',
  '2004': '7.05',
  '2005': '7.25',
  '2006': '7.50',
  '2007': '7.80',
  '2008': '7.95',
  '2009': '8.40',
  '2010': '8.40',
  '2011': '8.50',
  '2012': '8.80',
  '2013': '8.95',
  '2014': '9.10',
  '2015': '9.25',
  '2016': '9.75'},
 'Pennsylvania': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '6.25',
  '2008': '7.15',
  '2009': '7.15',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.25',
  '2016': '7.25'},
 'Rhode Island': {'2000': '5.65',
  '2001': '6.15',
  '2002': '6.15',
  '2003': '6.15',
  '2004': '6.75',
  '2005': '6.75',
  '2006': '6.75',
  '2007': '7.40',
  '2008': '7.40',
  '2009': '7.40',
  '2010': '7.40',
  '2011': '7.40',
  '2012': '7.40',
  '2013': '7.75',
  '2014': '8.00',
  '2015': '9.00',
  '2016': '9.60'},
 'South Carolina': {'2000': '...',
  '2001': '...',
  '2002': '...',
  '2003': '...',
  '2004': '...',
  '2005': '...',
  '2006': '...',
  '2007': '...',
  '2008': '...',
  '2009': '...',
  '2010': '...',
  '2011': '...',
  '2012': '...',
  '2013': '...',
  '2014': '...',
  '2015': '...',
  '2016': '...'},
 'South Dakota': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '5.15',
  '2008': '5.85',
  '2009': '6.55',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '8.50',
  '2016': '8.55'},
 'Tennessee': {'2000': '...',
  '2001': '...',
  '2002': '...',
  '2003': '...',
  '2004': '...',
  '2005': '...',
  '2006': '...',
  '2007': '...',
  '2008': '...',
  '2009': '...',
  '2010': '...',
  '2011': '...',
  '2012': '...',
  '2013': '...',
  '2014': '...',
  '2015': '...',
  '2016': '...'},
 'Texas': {'2000': '3.35',
  '2001': '3.35',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '5.15',
  '2008': '5.85',
  '2009': '6.55',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.25',
  '2016': '7.25'},
 'Utah': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '5.15',
  '2008': '5.85',
  '2009': '6.55',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.25',
  '2016': '7.25'},
 'Vermont': {'2000': '5.75(e)',
  '2001': '6.25(e)',
  '2002': '6.25(e)',
  '2003': '6.25(e)',
  '2004': '6.75(e)',
  '2005': '7.00(e)',
  '2006': '7.25',
  '2007': '7.53(e) ',
  '2008': '7.68(e)',
  '2009': '8.06(e)',
  '2010': '8.06(e)',
  '2011': '8.15(e)',
  '2012': '8.46(e)',
  '2013': '8.60(e)',
  '2014': '8.73(e)',
  '2015': '9.15(e)',
  '2016': '9.60(e)'},
 'Virginia': {'2000': '5.15[c]',
  '2001': '5.15[c]',
  '2002': '5.15[c]',
  '2003': '5.15[c]',
  '2004': '5.15[c]',
  '2005': '5.15[c]',
  '2006': '5.15[c]',
  '2007': '5.15[c]',
  '2008': '5.85[c]',
  '2009': '6.55[c]',
  '2010': '7.25[c]',
  '2011': '7.25[c]',
  '2012': '7.25[c]',
  '2013': '7.25[c]',
  '2014': '7.25[c]',
  '2015': '7.25[c]',
  '2016': '7.25[c]'},
 'Washington': {'2000': '6.50',
  '2001': '6.72',
  '2002': '6.90',
  '2003': '7.01',
  '2004': '7.16',
  '2005': '7.35',
  '2006': '7.63',
  '2007': '7.93',
  '2008': '8.07',
  '2009': '8.55',
  '2010': '8.55',
  '2011': '8.67',
  '2012': '9.04',
  '2013': '9.19',
  '2014': '9.32',
  '2015': '9.47',
  '2016': '9.47'},
 'West Virginia': {'2000': '5.15(d)',
  '2001': '5.15(d)',
  '2002': '5.15(d)',
  '2003': '5.15(d)',
  '2004': '5.15(d)',
  '2005': '5.15(d)',
  '2006': '5.15(d)',
  '2007': '5.85',
  '2008': '6.55',
  '2009': '7.25',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '8.00',
  '2016': '8.75'},
 'Wisconsin': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.70',
  '2007': '6.50',
  '2008': '6.50',
  '2009': '6.50',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '7.25',
  '2016': '7.25'},
 'Wyoming': {'2000': '1.60',
  '2001': '1.60',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '5.15',
  '2008': '5.15',
  '2009': '5.15',
  '2010': '5.15',
  '2011': '5.15',
  '2012': '5.15',
  '2013': '5.15',
  '2014': '5.15',
  '2015': '5.15',
  '2016': '5.15'},
 'District of Columbia': {'2000': '6.15',
  '2001': '6.15',
  '2002': '6.15',
  '2003': '6.15',
  '2004': '6.15',
  '2005': '6.60',
  '2006': '7.00',
  '2007': '7.00',
  '2008': '7.00',
  '2009': '7.55',
  '2010': '8.25',
  '2011': '8.25',
  '2012': '8.25',
  '2013': '8.25',
  '2014': '9.50',
  '2015': '10.50',
  '2016': '11.50'},
 'Guam': {'2000': '5.15',
  '2001': '5.15',
  '2002': '5.15',
  '2003': '5.15',
  '2004': '5.15',
  '2005': '5.15',
  '2006': '5.15',
  '2007': '5.15',
  '2008': '5.85',
  '2009': '5.85',
  '2010': '7.25',
  '2011': '7.25',
  '2012': '7.25',
  '2013': '7.25',
  '2014': '7.25',
  '2015': '8.25',
  '2016': '8.25'},
 'Puerto Rico': {'2000': '3.61 - 5.15(i)',
  '2001': '3.61 - 5.15(i)',
  '2002': '3.61 - 5.15(i)',
  '2003': '3.61 - 5.15(i)',
  '2004': '3.61 - 5.15(i)',
  '2005': '3.61 - 5.15(i)',
  '2006': '3.61 - 5.15(i)',
  '2007': '3.61-5.15(i)',
  '2008': '3.61-5.15(i)',
  '2009': '4.10(i)',
  '2010': '5.08 – 7.25 (i2)',
  '2011': '5.08 – 7.25 (i2)',
  '2012': '5.08 – 7.25 (i2)',
  '2013': '5.08 – 7.25 (i2)',
  '2014': '5.08-7.25(i)',
  '2015': '5.08-7.25(i)',
  '2016': '5.08-7.25(i)'},
 'U.S. Virgin Islands': {'2000': '4.30 - 4.65(g,j)',
  '2001': '4.30 - 4.65(g,j)',
  '2002': '4.30 - 4.65(g,j)',
  '2003': '4.30 - 4.65(g,j)',
  '2004': '4.30 - 4.65(g,j)',
  '2005': '4.30 - 4.65(g,j)',
  '2006': '4.30 - 4.65 (g)',
  '2007': '4.30-6.15(g,j)',
  '2008': '4.30-6.15(j)',
  '2009': '4.30-6.15(j)',
  '2010': '4.30-7.25(j)',
  '2011': '4.30-7.25(j)',
  '2012': '4.30-7.25(j)',
  '2013': '4.30-7.25(j)'}}

In [30]:
import pandas as pd

In [48]:
pd.DataFrame(row)

,Federal (FLSA),Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,District of Columbia,Guam,Puerto Rico,U.S. Virgin Islands
2000,$5.15,...,5.65,...,5.15[c],5.75,5.15,6.15,5.65,...,...,5.75(e),5.15[c],6.50,5.15(d),5.15,1.60,6.15,5.15,3.61 - 5.15(i),"4.30 - 4.65(g,j)"
2001,$5.15,...,5.65,...,5.15[c],6.25,5.15,6.40,6.15,...,...,6.25(e),5.15[c],6.72,5.15(d),5.15,1.60,6.15,5.15,3.61 - 5.15(i),"4.30 - 4.65(g,j)"
2002,$5.15,...,5.65,...,5.15[c],6.75,5.15,6.70,6.15,...,...,6.25(e),5.15[c],6.90,5.15(d),5.15,5.15,6.15,5.15,3.61 - 5.15(i),"4.30 - 4.65(g,j)"
2003,$5.15,...,7.15,...,5.15[c],6.75,5.15,6.90,6.15,...,...,6.25(e),5.15[c],7.01,5.15(d),5.15,5.15,6.15,5.15,3.61 - 5.15(i),"4.30 - 4.65(g,j)"
2004,$5.15,...,7.15,...,5.15[c],6.75,5.15,7.10,6.15,...,...,6.75(e),5.15[c],7.16,5.15(d),5.15,5.15,6.15,5.15,3.61 - 5.15(i),"4.30 - 4.65(g,j)"
2005,$5.15,...,7.15,...,5.15[c],6.75,5.15,7.10,6.15,...,...,7.00(e),5.15[c],7.35,5.15(d),5.15,5.15,6.60,5.15,3.61 - 5.15(i),"4.30 - 4.65(g,j)"
2006,5.15,...,7.15,...,5.15 [c],6.75,5.15,7.40,6.15,6.40,...,7.25,5.15[c],7.63,5.15(d),5.70,5.15,7.00,5.15,3.61 - 5.15(i),4.30 - 4.65 (g)
2007,5.15,...,7.15,6.75,6.25[c],7.50,6.85,7.65,6.65,6.67,...,7.53(e),5.15[c],7.93,5.85,6.50,5.15,7.00,5.15,3.61-5.15(i),"4.30-6.15(g,j)"
2008,5.85,...,7.15,6.90,6.25[c],8.00,7.02,7.65,7.15,6.79,...,7.68(e),5.85[c],8.07,6.55,6.50,5.15,7.00,5.85,3.61-5.15(i),4.30-6.15(j)
2009,6.55,...,7.15,7.25,6.25[c],8.00,7.28,8.00,7.15,7.21,...,8.06(e),6.55[c],8.55,7.25,6.50,5.15,7.55,5.85,4.10(i),4.30-6.15(j)
2010,7.25,...,7.75,7.25,6.25[c],8.00,7.24,8.25,7.25,7.25,...,8.06(e),7.25[c],8.55,7.25,7.25,5.15,8.25,7.25,5.08 – 7.25 (i2),4.30-7.25(j)
2011,7.25,...,7.75,7.35,6.25[c],8.00,7.36,8.25,7.25,7.25,...,8.15(e),7.25[c],8.67,7.25,7.25,5.15,8.25,7.25,5.08 – 7.25 (i2),4.30-7.25(j)
2012,7.25,...,7.75,7.65,6.25[c],8.00,7.64,8.25,7.25,7.67,...,8.46(e),7.25[c],9.04,7.25,7.25,5.15,8.25,7.25,5.08 – 7.25 (i2),4.30-7.25(j)
2013,7.25,...,7.75,7.80,6.25[c],8.00,7.78,8.25,7.25,7.79,...,8.60(e),7.25[c],9.19,7.25,7.25,5.15,8.25,7.25,5.08 – 7.25 (i2),4.30-7.25(j)
2014,7.25,...,7.75,7.90,6.25[c],9.00,8.00,8.70,7.75,7.93,...,8.73(e),7.25[c],9.32,7.25,7.25,5.15,9.50,7.25,5.08-7.25(i),NaN
2015,7.25,...,8.75,8.05,7.50[c],9.00,8.23,9.15,8.25,8.05,...,9.15(e),7.25[c],9.47,8.00,7.25,5.15,10.50,8.25,5.08-7.25(i),NaN
2016,7.25,...,9.75,8.05,8.00[c],10.00,8.31,9.60,8.25,8.05,...,9.60(e),7.25[c],9.47,8.75,7.25,5.15,11.50,8.25,5.08-7.25(i),NaN

In [52]:
pd.DataFrame(row).to_csv('Minimum_Wage_Data_2000_2016.csv')

In [53]:
pd.read_csv('Minimum_Wage_Data_2000_2016.csv')

,Unnamed: 0,Federal (FLSA),Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,District of Columbia,Guam,Puerto Rico,U.S. Virgin Islands
0,2000,$5.15,...,5.65,...,5.15[c],5.75,5.15,6.15,5.65,...,5.75(e),5.15[c],6.50,5.15(d),5.15,1.60,6.15,5.15,3.61 - 5.15(i),"4.30 - 4.65(g,j)"
1,2001,$5.15,...,5.65,...,5.15[c],6.25,5.15,6.40,6.15,...,6.25(e),5.15[c],6.72,5.15(d),5.15,1.60,6.15,5.15,3.61 - 5.15(i),"4.30 - 4.65(g,j)"
2,2002,$5.15,...,5.65,...,5.15[c],6.75,5.15,6.70,6.15,...,6.25(e),5.15[c],6.90,5.15(d),5.15,5.15,6.15,5.15,3.61 - 5.15(i),"4.30 - 4.65(g,j)"
3,2003,$5.15,...,7.15,...,5.15[c],6.75,5.15,6.90,6.15,...,6.25(e),5.15[c],7.01,5.15(d),5.15,5.15,6.15,5.15,3.61 - 5.15(i),"4.30 - 4.65(g,j)"
4,2004,$5.15,...,7.15,...,5.15[c],6.75,5.15,7.10,6.15,...,6.75(e),5.15[c],7.16,5.15(d),5.15,5.15,6.15,5.15,3.61 - 5.15(i),"4.30 - 4.65(g,j)"
5,2005,$5.15,...,7.15,...,5.15[c],6.75,5.15,7.10,6.15,...,7.00(e),5.15[c],7.35,5.15(d),5.15,5.15,6.60,5.15,3.61 - 5.15(i),"4.30 - 4.65(g,j)"
6,2006,5.15,...,7.15,...,5.15 [c],6.75,5.15,7.40,6.15,...,7.25,5.15[c],7.63,5.15(d),5.70,5.15,7.00,5.15,3.61 - 5.15(i),4.30 - 4.65 (g)
7,2007,5.15,...,7.15,6.75,6.25[c],7.50,6.85,7.65,6.65,...,7.53(e),5.15[c],7.93,5.85,6.50,5.15,7.00,5.15,3.61-5.15(i),"4.30-6.15(g,j)"
8,2008,5.85,...,7.15,6.90,6.25[c],8.00,7.02,7.65,7.15,...,7.68(e),5.85[c],8.07,6.55,6.50,5.15,7.00,5.85,3.61-5.15(i),4.30-6.15(j)
9,2009,6.55,...,7.15,7.25,6.25[c],8.00,7.28,8.00,7.15,...,8.06(e),6.55[c],8.55,7.25,6.50,5.15,7.55,5.85,4.10(i),4.30-6.15(j)
10,2010,7.25,...,7.75,7.25,6.25[c],8.00,7.24,8.25,7.25,...,8.06(e),7.25[c],8.55,7.25,7.25,5.15,8.25,7.25,5.08 – 7.25 (i2),4.30-7.25(j)
11,2011,7.25,...,7.75,7.35,6.25[c],8.00,7.36,8.25,7.25,...,8.15(e),7.25[c],8.67,7.25,7.25,5.15,8.25,7.25,5.08 – 7.25 (i2),4.30-7.25(j)
12,2012,7.25,...,7.75,7.65,6.25[c],8.00,7.64,8.25,7.25,...,8.46(e),7.25[c],9.04,7.25,7.25,5.15,8.25,7.25,5.08 – 7.25 (i2),4.30-7.25(j)
13,2013,7.25,...,7.75,7.80,6.25[c],8.00,7.78,8.25,7.25,...,8.60(e),7.25[c],9.19,7.25,7.25,5.15,8.25,7.25,5.08 – 7.25 (i2),4.30-7.25(j)
14,2014,7.25,...,7.75,7.90,6.25[c],9.00,8.00,8.70,7.75,...,8.73(e),7.25[c],9.32,7.25,7.25,5.15,9.50,7.25,5.08-7.25(i),NaN
15,2015,7.25,...,8.75,8.05,7.50[c],9.00,8.23,9.15,8.25,...,9.15(e),7.25[c],9.47,8.00,7.25,5.15,10.50,8.25,5.08-7.25(i),NaN
16,2016,7.25,...,9.75,8.05,8.00[c],10.00,8.31,9.60,8.25,...,9.60(e),7.25[c],9.47,8.75,7.25,5.15,11.50,8.25,5.08-7.25(i),NaN