In [1]:
import pandas as pd

In [2]:
import re

In [3]:
workers = pd.ExcelFile('/Users/TekendraMBP/Documents/Lede_Program/Databases/Final_Project/Percent_Represented_by_Unions/Percent_Represented_by_Unions_2.xlsx')

In [4]:
workers.sheet_names

['BLS Data Series']

In [18]:
df = workers.parse('BLS Data Series')

pd.set_option('display.max_colwidth', 100)

In [19]:
df

,Union affiliation data from the Current Population Survey,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Original Data Value,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Series Id:,LUU0204899701,NaN,NaN,NaN,NaN
3,Series title:,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",NaN,NaN,NaN,NaN
4,Unadjusted series,NaN,NaN,NaN,NaN,NaN
5,Union:,Represented by unions,NaN,NaN,NaN,NaN
6,Industry:,All Industries,NaN,NaN,NaN,NaN
7,Occupation:,All Occupations,NaN,NaN,NaN,NaN
8,Sex:,Both Sexes,NaN,NaN,NaN,NaN
9,Race:,All Races,NaN,NaN,NaN,NaN
10,Ethnic Origin:,All Origins,NaN,NaN,NaN,NaN
11,Age:,16 years and over,NaN,NaN,NaN,NaN
12,Earnings:,Person counts (number in thousands),NaN,NaN,NaN,NaN
13,Class of Worker:,"Wage and salary workers, excluding incorporated self employed",NaN,NaN,NaN,NaN
14,Labor force status:,Employed,NaN,NaN,NaN,NaN
15,Years:,2000 to 2016,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN
17,Year,Annual,NaN,NaN,NaN,NaN
18,2000,10.5,NaN,NaN,NaN,NaN
19,2001,11.3,NaN,NaN,NaN,NaN
20,2002,10.6,NaN,NaN,NaN,NaN
21,2003,9.5,NaN,NaN,NaN,NaN
22,2004,11.5,NaN,NaN,NaN,NaN
23,2005,11.7,NaN,NaN,NaN,NaN
24,2006,10,NaN,NaN,NaN,NaN
25,2007,10.6,NaN,NaN,NaN,NaN
26,2008,10.7,NaN,NaN,NaN,NaN
27,2009,12,NaN,NaN,NaN,NaN
28,2010,11.2,NaN,NaN,NaN,NaN
29,2011,10.8,NaN,NaN,NaN,NaN
30,2012,10.5,NaN,NaN,NaN,NaN
31,2013,11.7,NaN,NaN,NaN,NaN
32,2014,12.1,NaN,NaN,NaN,NaN
33,2015,11,NaN,NaN,NaN,NaN
34,2016,9,NaN,NaN,NaN,NaN

# Step One: Drop Columns: Unnamed 2, 3, 4, 5 #

In [21]:
df.drop(columns='Unnamed: 2', inplace=True)

In [22]:
df.drop(columns='Unnamed: 3', inplace=True)

In [23]:
df.drop(columns='Unnamed: 4', inplace=True)

In [24]:
df.drop(columns='Unnamed: 5', inplace=True)

<i> Check your data frame: <i>

In [25]:
df

,Union affiliation data from the Current Population Survey,Unnamed: 1
0,Original Data Value,NaN
1,NaN,NaN
2,Series Id:,LUU0204899701
3,Series title:,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
4,Unadjusted series,NaN
5,Union:,Represented by unions
6,Industry:,All Industries
7,Occupation:,All Occupations
8,Sex:,Both Sexes
9,Race:,All Races
10,Ethnic Origin:,All Origins
11,Age:,16 years and over
12,Earnings:,Person counts (number in thousands)
13,Class of Worker:,"Wage and salary workers, excluding incorporated self employed"
14,Labor force status:,Employed
15,Years:,2000 to 2016
16,NaN,NaN
17,Year,Annual
18,2000,10.5
19,2001,11.3
20,2002,10.6
21,2003,9.5
22,2004,11.5
23,2005,11.7
24,2006,10
25,2007,10.6
26,2008,10.7
27,2009,12
28,2010,11.2
29,2011,10.8
30,2012,10.5
31,2013,11.7
32,2014,12.1
33,2015,11
34,2016,9

# # Step Two: Create a new column 'Years' # #

In [26]:
df['Years'] = df['Union affiliation data from the Current Population Survey'][18:]

<i> Check your df <i>

In [27]:
df

,Union affiliation data from the Current Population Survey,Unnamed: 1,Years
0,Original Data Value,NaN,NaN
1,NaN,NaN,NaN
2,Series Id:,LUU0204899701,NaN
3,Series title:,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",NaN
4,Unadjusted series,NaN,NaN
5,Union:,Represented by unions,NaN
6,Industry:,All Industries,NaN
7,Occupation:,All Occupations,NaN
8,Sex:,Both Sexes,NaN
9,Race:,All Races,NaN
10,Ethnic Origin:,All Origins,NaN
11,Age:,16 years and over,NaN
12,Earnings:,Person counts (number in thousands),NaN
13,Class of Worker:,"Wage and salary workers, excluding incorporated self employed",NaN
14,Labor force status:,Employed,NaN
15,Years:,2000 to 2016,NaN
16,NaN,NaN,NaN
17,Year,Annual,NaN
18,2000,10.5,2000
19,2001,11.3,2001
20,2002,10.6,2002
21,2003,9.5,2003
22,2004,11.5,2004
23,2005,11.7,2005
24,2006,10,2006
25,2007,10.6,2007
26,2008,10.7,2008
27,2009,12,2009
28,2010,11.2,2010
29,2011,10.8,2011
30,2012,10.5,2012
31,2013,11.7,2013
32,2014,12.1,2014
33,2015,11,2015
34,2016,9,2016

# # Step Three: Create a new column 'Percent_Represented' # #

In [30]:
df['Percent_Represented'] = df['Unnamed: 1'][18:]

In [31]:
df

,Union affiliation data from the Current Population Survey,Unnamed: 1,Years,Percent_Represented
0,Original Data Value,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,Series Id:,LUU0204899701,NaN,NaN
3,Series title:,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",NaN,NaN
4,Unadjusted series,NaN,NaN,NaN
5,Union:,Represented by unions,NaN,NaN
6,Industry:,All Industries,NaN,NaN
7,Occupation:,All Occupations,NaN,NaN
8,Sex:,Both Sexes,NaN,NaN
9,Race:,All Races,NaN,NaN
10,Ethnic Origin:,All Origins,NaN,NaN
11,Age:,16 years and over,NaN,NaN
12,Earnings:,Person counts (number in thousands),NaN,NaN
13,Class of Worker:,"Wage and salary workers, excluding incorporated self employed",NaN,NaN
14,Labor force status:,Employed,NaN,NaN
15,Years:,2000 to 2016,NaN,NaN
16,NaN,NaN,NaN,NaN
17,Year,Annual,NaN,NaN
18,2000,10.5,2000,10.5
19,2001,11.3,2001,11.3
20,2002,10.6,2002,10.6
21,2003,9.5,2003,9.5
22,2004,11.5,2004,11.5
23,2005,11.7,2005,11.7
24,2006,10,2006,10
25,2007,10.6,2007,10.6
26,2008,10.7,2008,10.7
27,2009,12,2009,12
28,2010,11.2,2010,11.2
29,2011,10.8,2011,10.8
30,2012,10.5,2012,10.5
31,2013,11.7,2013,11.7
32,2014,12.1,2014,12.1
33,2015,11,2015,11
34,2016,9,2016,9

# # Step Four: Create a value for "Series Title" # #

In [32]:
df['Series_Title'] = df['Unnamed: 1'][3]

In [33]:
df

,Union affiliation data from the Current Population Survey,Unnamed: 1,Years,Percent_Represented,Series_Title
0,Original Data Value,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
1,NaN,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
2,Series Id:,LUU0204899701,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
3,Series title:,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
4,Unadjusted series,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
5,Union:,Represented by unions,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
6,Industry:,All Industries,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
7,Occupation:,All Occupations,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
8,Sex:,Both Sexes,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
9,Race:,All Races,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
10,Ethnic Origin:,All Origins,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
11,Age:,16 years and over,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
12,Earnings:,Person counts (number in thousands),NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
13,Class of Worker:,"Wage and salary workers, excluding incorporated self employed",NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
14,Labor force status:,Employed,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
15,Years:,2000 to 2016,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
16,NaN,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
17,Year,Annual,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
18,2000,10.5,2000,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
19,2001,11.3,2001,11.3,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
20,2002,10.6,2002,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
21,2003,9.5,2003,9.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
22,2004,11.5,2004,11.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
23,2005,11.7,2005,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
24,2006,10,2006,10,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
25,2007,10.6,2007,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
26,2008,10.7,2008,10.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
27,2009,12,2009,12,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
28,2010,11.2,2010,11.2,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
29,2011,10.8,2011,10.8,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
30,2012,10.5,2012,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
31,2013,11.7,2013,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
32,2014,12.1,2014,12.1,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
33,2015,11,2015,11,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"
34,2016,9,2016,9,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama"

# # Step 5: Create a column for Union # #

In [42]:
df['Union'] = df['Unnamed: 1'][5]

In [43]:
df

,Union affiliation data from the Current Population Survey,Unnamed: 1,Years,Percent_Represented,Series_Title,Union
0,Original Data Value,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
1,NaN,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
2,Series Id:,LUU0204899701,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
3,Series title:,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
4,Unadjusted series,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
5,Union:,Represented by unions,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
6,Industry:,All Industries,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
7,Occupation:,All Occupations,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
8,Sex:,Both Sexes,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
9,Race:,All Races,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
10,Ethnic Origin:,All Origins,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
11,Age:,16 years and over,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
12,Earnings:,Person counts (number in thousands),NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
13,Class of Worker:,"Wage and salary workers, excluding incorporated self employed",NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
14,Labor force status:,Employed,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
15,Years:,2000 to 2016,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
16,NaN,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
17,Year,Annual,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
18,2000,10.5,2000,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
19,2001,11.3,2001,11.3,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
20,2002,10.6,2002,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
21,2003,9.5,2003,9.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
22,2004,11.5,2004,11.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
23,2005,11.7,2005,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
24,2006,10,2006,10,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
25,2007,10.6,2007,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
26,2008,10.7,2008,10.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
27,2009,12,2009,12,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
28,2010,11.2,2010,11.2,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
29,2011,10.8,2011,10.8,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
30,2012,10.5,2012,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
31,2013,11.7,2013,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
32,2014,12.1,2014,12.1,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
33,2015,11,2015,11,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions
34,2016,9,2016,9,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions

# # Step Six: Make a column for Industry # #

In [44]:
df['Industry'] = df['Unnamed: 1'][6]

In [45]:
df

,Union affiliation data from the Current Population Survey,Unnamed: 1,Years,Percent_Represented,Series_Title,Union,Industry
0,Original Data Value,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
1,NaN,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
2,Series Id:,LUU0204899701,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
3,Series title:,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
4,Unadjusted series,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
5,Union:,Represented by unions,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
6,Industry:,All Industries,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
7,Occupation:,All Occupations,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
8,Sex:,Both Sexes,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
9,Race:,All Races,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
10,Ethnic Origin:,All Origins,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
11,Age:,16 years and over,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
12,Earnings:,Person counts (number in thousands),NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
13,Class of Worker:,"Wage and salary workers, excluding incorporated self employed",NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
14,Labor force status:,Employed,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
15,Years:,2000 to 2016,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
16,NaN,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
17,Year,Annual,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
18,2000,10.5,2000,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
19,2001,11.3,2001,11.3,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
20,2002,10.6,2002,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
21,2003,9.5,2003,9.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
22,2004,11.5,2004,11.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
23,2005,11.7,2005,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
24,2006,10,2006,10,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
25,2007,10.6,2007,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
26,2008,10.7,2008,10.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
27,2009,12,2009,12,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
28,2010,11.2,2010,11.2,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
29,2011,10.8,2011,10.8,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
30,2012,10.5,2012,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
31,2013,11.7,2013,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
32,2014,12.1,2014,12.1,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
33,2015,11,2015,11,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries
34,2016,9,2016,9,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries

# # Step Seven: Make a column for Earnings # #

In [46]:
df['Earnings'] = df['Unnamed: 1'][12]

In [47]:
df

,Union affiliation data from the Current Population Survey,Unnamed: 1,Years,Percent_Represented,Series_Title,Union,Industry,Earnings
0,Original Data Value,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
1,NaN,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
2,Series Id:,LUU0204899701,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
3,Series title:,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
4,Unadjusted series,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
5,Union:,Represented by unions,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
6,Industry:,All Industries,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
7,Occupation:,All Occupations,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
8,Sex:,Both Sexes,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
9,Race:,All Races,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
10,Ethnic Origin:,All Origins,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
11,Age:,16 years and over,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
12,Earnings:,Person counts (number in thousands),NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
13,Class of Worker:,"Wage and salary workers, excluding incorporated self employed",NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
14,Labor force status:,Employed,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
15,Years:,2000 to 2016,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
16,NaN,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
17,Year,Annual,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
18,2000,10.5,2000,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
19,2001,11.3,2001,11.3,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
20,2002,10.6,2002,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
21,2003,9.5,2003,9.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
22,2004,11.5,2004,11.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
23,2005,11.7,2005,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
24,2006,10,2006,10,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
25,2007,10.6,2007,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
26,2008,10.7,2008,10.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
27,2009,12,2009,12,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
28,2010,11.2,2010,11.2,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
29,2011,10.8,2011,10.8,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
30,2012,10.5,2012,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
31,2013,11.7,2013,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
32,2014,12.1,2014,12.1,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
33,2015,11,2015,11,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)
34,2016,9,2016,9,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands)

# # Step Eight: Make a column for Class of Workers # #

In [48]:
df['Class_of_Worker'] = df['Unnamed: 1'][13]

In [49]:
df

,Union affiliation data from the Current Population Survey,Unnamed: 1,Years,Percent_Represented,Series_Title,Union,Industry,Earnings,Class_of_Worker
0,Original Data Value,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
1,NaN,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2,Series Id:,LUU0204899701,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
3,Series title:,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
4,Unadjusted series,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
5,Union:,Represented by unions,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
6,Industry:,All Industries,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
7,Occupation:,All Occupations,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
8,Sex:,Both Sexes,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
9,Race:,All Races,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
10,Ethnic Origin:,All Origins,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
11,Age:,16 years and over,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
12,Earnings:,Person counts (number in thousands),NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
13,Class of Worker:,"Wage and salary workers, excluding incorporated self employed",NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
14,Labor force status:,Employed,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
15,Years:,2000 to 2016,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
16,NaN,NaN,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
17,Year,Annual,NaN,NaN,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
18,2000,10.5,2000,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
19,2001,11.3,2001,11.3,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
20,2002,10.6,2002,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
21,2003,9.5,2003,9.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
22,2004,11.5,2004,11.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
23,2005,11.7,2005,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
24,2006,10,2006,10,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
25,2007,10.6,2007,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
26,2008,10.7,2008,10.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
27,2009,12,2009,12,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
28,2010,11.2,2010,11.2,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
29,2011,10.8,2011,10.8,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
30,2012,10.5,2012,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
31,2013,11.7,2013,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
32,2014,12.1,2014,12.1,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
33,2015,11,2015,11,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
34,2016,9,2016,9,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"

# # Step Eight: This seems good, but get rid of the NaN values and narrow down your rows  # #

In [50]:
df = df.iloc[18:]

In [51]:
df

,Union affiliation data from the Current Population Survey,Unnamed: 1,Years,Percent_Represented,Series_Title,Union,Industry,Earnings,Class_of_Worker
18,2000,10.5,2000,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
19,2001,11.3,2001,11.3,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
20,2002,10.6,2002,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
21,2003,9.5,2003,9.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
22,2004,11.5,2004,11.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
23,2005,11.7,2005,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
24,2006,10,2006,10,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
25,2007,10.6,2007,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
26,2008,10.7,2008,10.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
27,2009,12,2009,12,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
28,2010,11.2,2010,11.2,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
29,2011,10.8,2011,10.8,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
30,2012,10.5,2012,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
31,2013,11.7,2013,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
32,2014,12.1,2014,12.1,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
33,2015,11,2015,11,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
34,2016,9,2016,9,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"

# # Step Nine: You can also drop those columns Union Affliation Data and Unnamed 1 Now. We got what we needed # #

In [52]:
df.drop(columns="Union affiliation data from the Current Population Survey" , inplace=True)

/Users/TekendraMBP/.pyenv/versions/3.6.4/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [53]:
df.drop(columns='Unnamed: 1' , inplace=True)

/Users/TekendraMBP/.pyenv/versions/3.6.4/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [54]:
df

,Years,Percent_Represented,Series_Title,Union,Industry,Earnings,Class_of_Worker
18,2000,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
19,2001,11.3,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
20,2002,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
21,2003,9.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
22,2004,11.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
23,2005,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
24,2006,10,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
25,2007,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
26,2008,10.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
27,2009,12,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
28,2010,11.2,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
29,2011,10.8,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
30,2012,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
31,2013,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
32,2014,12.1,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
33,2015,11,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
34,2016,9,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"

# # Step Ten: Wouldn't it be nice if our Index matched our years? Why dont we make that a thing? # #

In [55]:
df.set_index('Years', drop=True, append=False, inplace=True, verify_integrity=False)

In [56]:
df

,Percent_Represented,Series_Title,Union,Industry,Earnings,Class_of_Worker
Years,,,,,,
2000,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2001,11.3,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2002,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2003,9.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2004,11.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2005,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2006,10,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2007,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2008,10.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2009,12,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2010,11.2,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2011,10.8,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2012,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2013,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2014,12.1,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2015,11,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"
2016,9,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed"

# Step Eleven: Eventually we're going to need to geocode. Let's get the State's Acronymn in one column and State Name in another column. Be careful and make sure this step can work on several different states. 




# Name the State's acronymn "STUSPS" 

# Name the State's name "State"

In [58]:
df['STUSPS'] = df['Series_Title'].str.extract(r' \((\w\w)\)')

/Users/TekendraMBP/.pyenv/versions/3.6.4/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [59]:
df

,Percent_Represented,Series_Title,Union,Industry,Earnings,Class_of_Worker,STUSPS
Years,,,,,,,
2000,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2001,11.3,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2002,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2003,9.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2004,11.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2005,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2006,10,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2007,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2008,10.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2009,12,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2010,11.2,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2011,10.8,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2012,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2013,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2014,12.1,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2015,11,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL
2016,9,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL

In [70]:
df['State'] = df['Series_Title'].str.extract(r'\(\w\w\)(.*)')

/Users/TekendraMBP/.pyenv/versions/3.6.4/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
df

,Percent_Represented,Series_Title,Union,Industry,Earnings,Class_of_Worker,STUSPS,State
Years,,,,,,,,
2000,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2001,11.3,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2002,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2003,9.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2004,11.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2005,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2006,10,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2007,10.6,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2008,10.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2009,12,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2010,11.2,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2011,10.8,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2012,10.5,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2013,11.7,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2014,12.1,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2015,11,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama
2016,9,"(unadj)- Percent of employed, Represented by unions, (AL) Alabama",Represented by unions,All Industries,Person counts (number in thousands),"Wage and salary workers, excluding incorporated self employed",AL,Alabama

In [72]:
# # Step Twelve: Great Job! Let's save this as a CSV and make anew ipynb where I right a function to do this

In [105]:
state = df.at[2000, 'State'].strip()

In [106]:
df.to_csv(state + "_Represented_by_Union.csv" , index=False)